<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RM.Properties.Settings.AAB_RestaurantManagementSystemConnectionString"
            connectionString="Data Source=.;Initial Catalog=AAB_RestaurantManagementSystem;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="localhost_AAB_RestaurantManagementSystem_Connection"
            connectionString="XpoProvider=MSSqlServer;data source=AAB;user id=aab;password=123;initial catalog=AAB_RestaurantManagementSystem;Persist Security Info=true;Encrypt=true;TrustServerCertificate=true" />
        <add name="AAB_RestaurantManagementSystemConnectionString" connectionString="XpoProvider=MSSqlServer;data source=.;integrated security=SSPI;initial catalog=AAB_RestaurantManagementSystem;Encrypt=false" />
        <add name="localhost_AAB_RestaurantManagementSystem_Connection 1"
            connectionString="XpoProvider=MSSqlServer;data source=AAB;user id=aab;password=123;initial catalog=AAB_RestaurantManagementSystem;Persist Security Info=true;Encrypt=true;TrustServerCertificate=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>